* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gloria Hallelujah', cursive;
	font-family: 'Nobile', sans-serif;}

html {
	scroll-behavior: smooth;
	background-color: #454545;
	overflow-x: hidden;
	overflow-y: scroll;
}



/*start landing page*/

.main-cover {
	height: 100vh;
	padding-left: 52%;
    padding-right: 5%;
    padding-top: 25%;
	background-image: url("../images/fresh-coconut-1803516.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.main-content {
	background: rgba(0, 0, 0, 0.5);
	width: 67%;
	border-radius: 10px;
}

.landing-page-title-icon {
	width: 92px;
}


.main-cover h1 {
	font-family: 'Gloria Hallelujah';
	padding-top: 12px;
}

.main-cover p {
	padding-top: 12px;
}

.main-cover h1,
.main-cover p {
	color: #EEF1EF;
}

#btn-custom {
	background-color: #8CD790;
	color: #4C5760;
}

#btn-custom:hover {
	color: #2B2828;  
	/*border: 2px outset rgba(0, 0, 0, 0.9);*/
	font-weight: 200;
	background: #0CCA4A;
	transform:scale(1.1);
	transition: 0.2s;
	/*text-shadow: 1px 1px 1px rgba(0,0,0, 20);*/
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	letter-spacing: 1.5px;
}

/*end landing page*/

/*start nav homepage*/
.navcontainer {
	width: 100%;
	height: 68px;
	left: 0;
	top: 0;
}


.brandname {
	font-family: 'Gloria Hallelujah';
	color: #2B2828;
/*	font-size: 18px;
	height: 51px;
	margin-left: 5px;
	z-index: 1;*/
}

.brandimage {
	/*position: absolute;*/
	width: 53px;
	height: 48px;
	left: 50px;
	top: 2;
	z-index: -1;
}
/*
.navig {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	text-align: center;
	margin-left: 40px;
	padding-top: 30px;
}

.navig-link {
	position: relative;
	display: inline-block;
	font-family: Nobile;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	align-items: center;
	text-align: center;
	color: #2B2828;
	margin-right: 105px;
	margin-left: 105px;
}
*/

/*end nav homepage*/


/*start homepage*/
.maincontainer {
	height: 100vh;
	min-width: 370px;

}
.maincontenttitle {
	font-family: 'Gloria Hallelujah';
	font-size: 48px;
}



.coconutfarm {
	/*position: absolute;*/
	height: 100vh;
	/*min-width: 1880px;*/
	/*min-height: 1208px;*/
	/*left: -391px;*/
	/*top: -206px;*/
	background: url("../images/green-rice-field-photo-724384.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	/*z-index: -2;*/
}
.main_content {
	/*text-align: center;*/
	font-family: 'Nobile', sans-serif;;
/*	position: absolute;
	font-size: 18px;
	color: #2B2828;
	width: 50%;
	height: 257px;
	left: 0;
	top: 0;*/
	/*background: linear-gradient(180deg, rgba(178, 184, 192, 0) 5.21%, rgba(220, 223, 210, 0.414) 100%);*/
	border-radius: 36px;
	padding: 8% 20% 10%;
}



/*.coconutfruit {
	position: absolute;
	width: 544px;
	height: 323px;
	left: 896px;
	top: 789px;
	background: url("../images/coconutcocktail.png");
	background-repeat: no-repeat;
	background-size: cover;
}
*/


/*end homepage*/


/*start about*/


.mission-img {
	height: 100vh;
	background-image: url("../images/green-rice-field-photo-724384.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

.mission-sec,
.vision-sec {
	height: 100vh;
}
 

.mission-text-img {
	height: 100%;

}

.vision-text-img {
	height: 100%;
}


.sec-text {
	background: rgba(0, 0, 0, .5);
	color: #cccccc;
	position: relative;
	top:30%;
	height: 25vh;

	
}

.sec-text, 
.mission-text,
.vision-text,
.landing-title-caption,
.contact-section {
	animation-name: fadeInUp;
	animation-duration: 3s;
	animation-fill-mode: 
}
.vision-img {
	height: 100vh;
	background-image: url("../images/close-up-photo-of-light-bulbs-2090301.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}


/*end about*/



/*start contact*/

.contact-cover {
	height: 100vh;
	background-image: url("../images/opened-coconut-fruits-1879387.jpg");	
	background-size: cover;
	background-repeat: no-repeat;
}


.contact-section {
	padding: 4%;
	height: 80vh;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}


#message {
	resize: none;
	height: 100px;
	padding: 10px;
}

.map-container {
	padding: 4%;
}


.gmap {
	height: 60vh;
	width: 100%;
}

/*end contact*/


/* ============================================= */
/*media queries*/

/*mobile styling*/
@media only screen and (max-width: 400px) {
	/*landing page*/
/*	.main-content {
		background: rgba(0, 0, 0, 0.5);
		position: relative;
		width: 100%;
		top: 20%;
		text-align: center;
	}

	.landing-page-title-icon {
		height: 37px;
	}

	.landing-title {
		font-size: 30px;
	}*/

	/*end landing page*/

}

/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	/*landing page*/
/*	.main-content {
		background: rgba(0, 0, 0, 0.5);
		position: relative;
		width: 100%;
		height: 25%;
		top: 20%;
		text-align: center;
		padding: 10px;
	}

	.landing-page-title-icon {
		height: 90px;
	}

	.landing-title {
		font-size: 65px;
	}

	.main-content p {
		font-size: 40px;
		margin-left: 2px; 
	}

	.main-content p a{
		font-size: 35px;
		text-align: center;
	}*/

	/*end landing page*/

}

/*desktop styling*/
@media only screen and (min-width: 961px) {
	/*landing page*/
	/*.main-content {
		background: rgba(0, 0, 0, 0.5);
		position: absolute;
		width: 38%;
		top: 60%;
		left: 0;
		transform: translate(140%, -30%);
		border-radius: 10px;
		text-align: center;

	}

	.main-content p a {
		font-size: 20px;
	}


	
	.landing-page-title-icon {
		height: 50px;
	}

	.landing-title {
		font-size: 30px;
	}
*/
